@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
  height:100%;
  width:100%;
  font-family: 'Poppins', sans-serif;
  color: black;
}
.navbar navbar-expand-lg navbar-dark bg-dark sticky-top{
  position: fixed;
    width: 100%;
    top: 0;
}

.nav-link{
  font-size: 1.1em !important;
}
.carousel-inner img{
  width:100%;
  height:600px;
}
.carousel-caption{
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
}
.carousel-caption h1{
  font-size: 500%;
  text-shadow: 1px 1px 15px #000;
}
.carousel-caption h3{
  font-size: 200%;
  font-weight: 500;
}
.padding{
  padding-bottom: 2rem;
}
.welcome{
  width: 90%;
  margin: 0 auto;
}
.welcome hr{
  border-top: 2px solid #b4b4b4;
  width: 100%;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}

.welcome {
  font-size: 20px;
}
.criteria{
  width: 100%;
  margin: 0 auto;
}
footer{
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}
hr.light{
  border-top: 1px solid #d5d5d5;
  width: 74%;
  margin-top: .8rem
  margin-bottom: 1rem;
}
footer a {
  color: #d5d5d5;
}
.card-img-top{
  width:50%;
  height: 50%;
}
/*---TIMELINE 2---*/

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #a32534;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

/*---TIMELINE 1
body{
  background-color: #f1f1f1;
}
.main-timeline-section{
  position: relative;
  width: 100%;
  margin:auto;
  height:300px;
}
.main-timeline-section .timeline-start,
.main-timeline-section .timeline-end{
  position: absolute;
  background:#a32534;
  border-radius:100px;
  top:50%;
  transform: translateY(-50%);
  width:30px;
  height:30px;
}
.main-timeline-section .timeline-end{
  right:0px;
}
.main-timeline-section .conference-center-line{
  position: absolute;
  width:100%;
  height:5px;
  top:50%;
  transform: translateY(-50%);
  background:#a32534;
}
.timeline-article{
    width: 20%;
    position: relative;
    min-height: 300px;
    float:right;
}
.timeline-article .content-date{
    position: absolute;
    top: 35%;
    left: -70px;
    font-size:18px;
}
.timeline-article .meta-date{
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    width:20px;
    height:20px;
    border-radius: 100%;
    background:#fff;
    border:1px solid #a32534;
}
.timeline-article .content-box{
  box-shadow: 2px 2px 4px 0px #c1c1c1;
  border:1px solid #a32534;
  border-radius: 5px;
  background-color: #fff;
  width: 180px;
  position: absolute;
  top: 60%;
  left: -80px;
  padding:10px;
}
.timeline-article-top .content-box:before{
  content: " ";
  position:absolute;
  left:50%;
  transform: translateX(-50%);
  top:-20px;
  border:10px solid transparent;
  border-bottom-color: #a32534;
}
.timeline-article-bottom .content-date{
  top: 59%;
}
.timeline-article-bottom .content-box{
  top: 0%;
}
.timeline-article-bottom .content-box:before{
  content: " ";
  position:absolute;
  left:50%;
  transform: translateX(-50%);
  bottom:-20px;
  border:10px solid transparent;
  border-top-color:#a32534;
}
--*/



@media (max-width:460px){
  body{
    display: none;
  }
}


/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {

  .carousel-caption{
    position: absolute;
    top: 45%;
    transform: translateY(-45%);
  }

}

}
@media (max-width: 576px) {

}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
